 .deposit-container {}

 .deposit-header {
     display: flex;
     padding: 16px 0 32px 0;
     justify-content: center;
     align-items: flex-end;
     flex-direction: row;
 }

 .header {
     flex: 1;
     max-width: 215px;
     display: flex;
     flex-direction: column;
 }

 .from {
     color: #697584;
     text-overflow: ellipsis;
     font-weight: 500;
     margin-bottom: 10px;
 }

 .input-key {
     border-style: solid;
     border-width: 1px;
     border-radius: 6px;
     border-color: #d1d6dd;
     position: relative;
     display: flex;
     color: #2c3137;
     background: #f5f7fb;
     padding: 12px;
     gap: 16px;
     align-items: center;
     flex-direction: row;
 }

 .input-key-text {
     color: #697584;
     font-size: 14px;
 }

 .deposit-to {
     color: #697584;
     margin: 0 8px 16px 8px;
     font-weight: 600;
 }

 .deposit-content {
     flex-wrap: wrap;
     align-items: center;
     flex-direction: row
 }

 .content-title {
     color: #697584;
     display: flex;
     justify-content: flex-end;
     flex-direction: row;
     width: 100%;
     padding-bottom: 10px;
 }

 .content-title label {
     font-weight: 600;
     font-size: 18px;
     flex: 1;
 }

 .content-title p {
     font-size: 14px;
 }

 .input-field {
     border-radius: 6px;
     background-color: #f5f7fb;
     position: relative;
     flex: 1;
     display: flex;
     flex-direction: row;
 }

 .input-content {
     flex: 1;
     height: 100%;
     overflow: hidden;
     border-radius: 6px;
     border-width: 1px;
     border-style: solid;
     border-color: #d1d6dd;
     position: relative;
     display: flex;
     color: #2c3137;
 }

 .input-left {
     border-right-width: 1px;
     border-right-style: solid;
     border-top-left-radius: 6px;
     border-bottom-left-radius: 6px;
     border-color: #d1d6dd;
     width: 64px;
     height: 64px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 input {
     height: 64px;
     flex: 1;
     outline: none;
     position: relative;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
     transition-duration: .2s;
     background-color: #ffffff;
     color: inherit;
     border: 0;
     outline: 0;
     font-size: 18px;
     padding-left: 6px !important;
     border: none !important;
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     border-radius: 6px;
 }

 .input-right {
     position: absolute;
     font-weight: 600;
     color: #2c3137;
     top: 18px;
     right: 16px;
 }

 .amout {
     display: flex;
     gap: 10px;
     margin-top: 12px;
     margin-bottom: 20px;
     justify-content: flex-end;
 }


 .amount-set {
     cursor: pointer;
     color: #697584;
     background-color: #f5f7fb;
     font-weight: 600;
     padding: 4px 8px;
     font-size: 12px;
     border-radius: 4px;
 }

 .estimated {
     margin-bottom: 20px;
     cursor: pointer;
     color: #697584;
     background-color: #f5f7fb;
     padding: 14px;
     font-size: 14px;
     border-radius: 4px;
 }